*.swp
*.swo
*.DS_Store
src/cmd/midc/midc
src/cmd/mid-gen-go/mid-gen-go
src/cmd/mid-gen-cpp/mid-gen-cpp
src/cmd/mid-gen-js/mid-gen-js
src/cmd/mid-gen-protobuf/mid-gen-protobuf
testdata/generated/
targets/
x/go/storage/example/demo/

docs/_site/
docs/.sass-cache/
